body {
    background-color: beige;
}
.box {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: block;
    background: lightgrey;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    border-radius: 1em;
}
.background-box {
    border-style: inherit;
    border-color: burlywood;
    border-radius: 1em;
    background-color: burlywood;
    margin-left: 10%;
    margin-right: 10%;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 2em;
}
.quote-text {
    font-size: 15px;
    font-family: Helvetica;
}
.dates-text {
    font-size: 16px;
    font-family: Liberation serif;
    margin-left: 15%;
    margin-right: 15%;
    color: darkslategray;
}
.q-text {
    font-size: 18px;
    font-family: Helvetica;
    color: grey;
    text-align: right;
}
.bottom {
    margin-left: 60%;
    padding: -30px;
}
h3 {
    font-family: Liberation serif;
    font-size: 18px;
}
